.footer {
    display: flex;
    justify-content: center;
    font-family: var(--font-circular);
    padding: 77.12px 0 146.11px;
    background-color: var(--bg-footer);
}

.footer__wrapper {
    display: grid;
    grid-template-columns: min(261px, 100%) 1fr 1fr 1fr min(261px, 100%);
    gap: 30px;
}

.company__information {}

.company__logo {
    display: flex;
    flex-direction: column;
    gap: 7.83px;
    margin-bottom: 9.86px;
}

.company__logo-image {
    width: 45px;
    height: 58.24px;
}

.company__logo-name {
    font-family: var(--font-open-sans);
    color: var(--text_thirdly);
    font-style: normal;
    font-weight: 600;
    font-size: 15.9627px;
    line-height: 22px;
}

.footer__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--text_secondary);
}

.company__copyright {
    margin-bottom: 37px;
}

.company__adress {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.company__adress-item {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 10px;
}

.company__adress-item p,
a {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--text_white);
}

.footer__links {
    margin-top: 23px;
}

.footer__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
}

.footer__links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__links ul li {
    color: var(--text_secondary);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.about__title {
    margin-top: 23px;
}

.about__text {
    margin-bottom: 29px;
}

.about__site {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 21px;
}

.footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.footer__lang {
    display: flex;
    flex-direction: row;
    
}