.footer {
	display: flex;
	justify-content: center;
	font-family: var(--font-circular);
	padding: 72px 0 146.11px;
	background-color: var(--bg-footer);
}

.footer svg path {
	stroke: var(--text_white);
}

.footer__wrapper {
	display: grid;
	grid-template-columns: min(261px, 100%) 1fr 1fr 1fr min(261px, 100%);
	gap: 30px;
	position: relative;
	left: 37px;
}

.company__logo {
	display: flex;
	flex-direction: column;
	gap: 7.83px;
	margin-bottom: 9.86px;
}

.company__logo-image {
	width: 45px;
	height: 58.24px;
}

.company__logo-name {
	font-family: var(--font-open-sans);
	color: var(--text_thirdly);
	font-style: normal;
	font-weight: 600;
	font-size: 15.9627px;
	line-height: 22px;
}

.footer__text {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: var(--text_secondary);
}

.company__copyright {
	margin-bottom: 37px;
}

.company__adress {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.company__adress-item {
	display: flex;
	flex-direction: row;
	align-items: end;
	gap: 8px;
}

.company__adress-item a {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	color: var(--text_white);
}

.footer__links {
	margin-top: 23px;
}

.footer__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 32px;
}

.footer__links ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer__links ul li {
	color: var(--text_secondary);
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
}

.about__title {
	margin-top: 23px;
}

.about__text {
	margin-bottom: 29px;
}

.about__site {
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 21px;
}

.footer__social {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 23px;
	margin-bottom: 47px;
}

.footer__lang {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer__lang p {
	margin-left: 8.26px;
	margin-right: 9.7px;
	font-weight: 450;
	font-size: 14px;
	line-height: 18px;
}

.footer__lang svg:last-child {
	cursor: pointer;
}

@media screen and (width <=1770px) {
	.footer__wrapper {
		position: static;
	}
}

@media screen and (width <=1240px) {
	.footer__links {
		margin-top: 0;
	}

	.about__title {
		margin-top: 0;
	}

	.footer {
		padding: 76px 0;
	}

	.footer__wrapper {
		grid-template-columns: min(261px, 100%) 1fr 1fr 1fr;
		justify-items: center;
		gap: 45px;
	}
}

@media screen and (width <=1024px) {
	.footer__wrapper {
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: start;
	}
}

@media screen and (width <=790px) {
	.footer__wrapper {
		grid-template-columns: 1fr 1fr;
	}
}


@media screen and (width <=520px) {
	.footer__wrapper {
		grid-template-columns: 1fr;
	}
}
