@import url('./container.css');
@import url('./burger.css');
@import url('./button.css');
@import url('./logo.css');

@keyframes selection {
    0% {
        left: 50%;
        right: 50%;
    }

    100% {
        left: 0;
        right: 0;
    }
}

@keyframes show {
    0% {
        top: -353px;
    }

    100% {
        top: 80px;
    }
}

.header {
    display: flex;
    justify-content: center;
    background-color: var(--bg-header);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    z-index: 1000;
}

.header__wrapper {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 68px;
    white-space: nowrap;
}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.header__menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header__menu ul li {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 24px 20px;
    cursor: pointer;
}

.header__menu ul li a {
    color: var(--text_white);
    user-select: none;
}

.header__menu ul li:active a {
    color: var(--text_thirdly);
}

.header__menu ul li:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--text_white);
    animation: selection ease 1s;
}

.header__button {
    margin-left: auto;
}

/* Мобильное меню */

.header__menu.active {
    display: flex;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: var(--bg-header);
    padding: 24px;
    align-items: flex-start;
    animation: show ease .5s;
}

.header__menu.active ul {
    display: flex;
    flex-direction: column;
}

.header__menu.active ul li {
    padding: 10px 0 12px 0;
}

.header__menu ul li:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--text_white);
    animation: selection ease .5s;
}

@media (max-width: 1024px) {
    .header {
        height: 80px;
    }

    .header__wrapper {
        justify-content: space-between;
    }

    .header__menu {
        display: none;
    }

    .header__logo {
        margin-right: unset;
    }

    .logo__image {
        width: 34px;
        height: 45px;
    }

    .logo__name {
        font-size: 20px;
        line-height: 22px;
    }
}

@media (max-width: 520px) {

    .header__logo {
        white-space: break-spaces;
    }

    .logo__name {
        width: 120px;
    }
}