.swiper {
    background-color: var(--bg-main);
    padding: 170px 0;
    overflow: hidden;
}

.swiper-slide {
    gap: 30px;
    padding: 30px;
    background-color: #18202C;
    border-radius: 10px;
    max-width: 362px;
    width: 302px !important;
    text-align: center;
}

.swiper-slide .title {
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
}


.swiper-slide img{
    width: 98px;
}