/* stylelint-disable custom-property-pattern */

:root {
	/* Текст */

	/* --font-poppins: 'Poppins', Arial, Helvetica, sans-serif; */
	--font-open-sans: 'Open Sans', arial, helvetica, sans-serif;

	/* Цвет бэкграунда страницы */
	--bg-header: #040C1A;
	--bg-main: #020A18;
	--bg-footer: #070F1D;

	/* Цвет текста */
	--text_black: #000;
	--text_white: #FFF;
	--text_primary: #B3B5BA;
	--text_secondary: #939FA5;
	--text_thirdly: #3A68B8;

	/* Цвет элементов */

	/* Кнопки */
	--button-bg_primary: #3A68B8;
	--button-text_primary: #FFF;
	--button-hover_primary: rgb(58 104 184 / 80%);
	--button-active_primary: linear-gradient(to right, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 80%) 50%, rgb(128 186 232 / 0%) 99%, rgb(125 185 232 / 0%) 100%);
	--button-border-radius_primary: 5px;

	/* Бургер */
	--burger-bg_primary: #FFF;
}