:root {
    /* Текст */
    --font: 'Poppins', Arial, Helvetica, sans-serif;

    /* Цвет текста*/
    --text_black: #000000;
    --text_white: #FFFFFF;
    --text_primery: #01070D;
    --text_secondary: #1D92FF;

    /* Цвет бэкграунда страницы */
    --bg-header: #002547;
    --bg-main: #F5F5F5;
    --bg-footer: #070C11;

    /* Цвет элементов */

    /* Кнопки */
    --button-bg_primary: #FFFFFF;
    --button-bg_secondary: #1D92FF;
  
    --button-border_primary: #FFFFFF1A;
    --button-border_secondary: #1D92FF1A;

    --button-border-radius_primary: 3px;
    --button-border-radius_secondary: 4px;

    /* Сссылка */
    --link_primery: #1D92FFA6;

    /* Аккордион */
    --accordion-bg: #FFFFFF;
    --accordion-border: #01070D1A;
    --accordion-border-radius: 5px;

    /* Карточки */
    --card-bg_primary: linear-gradient(180deg, #1D92FF 0%, #002648 0.01%, #002547 100%);
    --card-bg_secondary: #FFFFFF;

    --card-shadow: 0px 20px 100px rgba(0, 0, 0, 0.05);
    --card-border: #1D92FF;

    /* Рассылка */
    --mailing-bg: #002648;
}